Hello <%= name %>. How much change do you need? Remember we can only change up to ten dollars per transaction.
<form method = "post" action = "amount">
	<input type = "number" max = 10 min = 1 name = "user_amt">
	Dollars
	<input type = "hidden" name = "user_name" value = <%= name %>
	<input type = "submit">
</form>
