Hello! I see you need to make a payment today. Can you tell me your name and 8-digit account number?

<form method = "post" action = "name">
	First Name
	<input type = "text" name = "user_first_name">
	Last Name
	<input type="text" name="user_last_name">
	Account Number
	<input type = "text" MinLength = 8 MaxLength = 8 name = "account_number">
	<input type = "submit"> 
</form> 